@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&display=swap');

@theme{
    --font-family-pri: 'Inter', sans-serif;
    --font-family-sec: 'Island Moments', cursive;
    --text-primary-colour: '#FF7A18';
}