@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&display=swap'); 

@import "tailwindcss";


@theme{
    --font-inter: 'Inter', sans-serif;
    --font-island: 'Island Moments', cursive;
    
    --color-primary: #FF7A18;
}

body{
    background-color: #F3F4F6;
}